html{font-size: 18px;}

table{
    border-style: solid;
    border-width: .1rem;
}

td, th{
    border-style: solid;
    border-width: .1rem;
}

span{
    color: red;
}

button{
    background-color: #fff0;
    border: none;
}
button:hover > span{
    color: rgb(170, 0, 0);
}