html{font-size: 18px;}

table{
    border-style: solid;
    border-width: .1rem;
}

td, th{
    border-style: solid;
    border-width: .1rem;
}

table span{
    color: red;
}
form span{
    color: rgb(71, 71, 71);
}

button{
    background-color: #fff0;
    border: none;
}
table button:hover > span{
    color: rgb(170, 0, 0);
}
form button:hover > span{
    color: rgb(31, 31, 31);
}

form{
    display: flex;
    flex-direction: column;
}
form > input, form > button{
    width: max-content;
}